@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
:root{
    --body-color:#9B27B00D;
    --sidebar-color:#FFFFFF;
    --primary-color:#9C27B0;
    --primary-color-light:#9B27B00D;
    --colo-nuevo:#370617;
    --toggle-color:#DDDDDD;
    --text-color:#707070;

    --tra-03: all 0.2s ease;
    --tra-04: all 0.3s ease;
    --tra-05: all 0.4s ease;
}
body{
    background-color: var(--body-color);
    font-family: 'Poppins', sans-serif;
}

.flex{
    margin-left: 90px;
    margin-top: 10px;
    text-shadow: 3px 0px 3px  #9B27B00D ;
    color:var(--colo-nuevo);
    font-weight: bold;
}

.flex h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
section{
    background-color: #ccaee4;
    color:black;
    font-weight: bold;
    font-size: 19px;
}

.btn-secondary{
    background-color:#7e6096;
    font-weight: bold;
}